/* Botão Login */
.loginBtn {
  width: 124px;
  min-width: 36px;
  height: 36px;
  gap: 8px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  color: #6b8718;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-color: #b1a88e;
  box-sizing: border-box;
  transform: rotate(0deg);
}

/* Feedback visual ao passar o mouse */
.loginBtn:hover {
  background-color: #f4fae2;
}

/* Feedback visual ao clicar */
.loginBtn:active {
  background-color: #d6e0b5;
}

@media (max-width: 768px) {
  .btnText {
    display: none; /* Esconde o texto no mobile */
  }
  
  .loginBtn {
    border: none;         /* Remove a borda  */
    background: none;     /* Remove o fundo  */
    width: auto;          /* Deixa o tamanho ser definido apenas pela imagem */
    height: auto;
    padding: 0;           /* Remove espaços internos */
    gap: 0;
  }

  .loginBtn img {
    width: 24px;          /* Ajuste o tamanho do ícone dentro do círculo */
    height: 24px;
    display: block;       /* Remove espaços fantasmas de fontes */
    filter: brightness(0);
  }

  /* Feedback visual ao passar o mouse */
.loginBtn:hover {
  background-color: #f4fae2;
}

/* Feedback visual ao clicar */
.loginBtn:active {
  background-color: #d6e0b5;
}

  
}