.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #789326; 
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease; /* Faz o efeito de "deslizar" ao fechar */
  color: #F5F3EE;
  overflow: hidden;
  
}

.logoContainer {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px; /* Altura fixa para o container do logo */
  box-sizing: border-box;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: opacity 0.2s ease;
}

.logoText {
  display: flex;
  align-items: center;
  white-space: nowrap; 
}

/* botao que alterna o sidebar */
.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 4px;
  display: flex;
  align-items: center;
}

/* ESTADO: SIDEBAR RECOLHIDA (Collapsed) */
.collapsed {
  width: 50px; 
}
/* Quando o mouse passa por cima do logo, torna o botao do side visivel */
.logoContainer:hover .toggleBtn {
  opacity: 1;
  pointer-events: auto;
}

/* Ajuste para quando estiver colapsado (recolhido) */
.collapsed .logoContainer {
  justify-content: center;
  
}

/* faz o botão flutuar sobre o logo */
.collapsed .toggleBtn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 40px;           
  height: 48px;         
  background-color: #6B8718; 
  border-radius: 8px;    

  /* centralização dos ícones */
  display: flex;
  align-items: center;   
  justify-content: center; 
  padding: 0;           
  box-sizing: border-box; 
}

/* Faz o ícone do AgroHub sumir */
.collapsed .logoContainer:hover .logoWrapper {
  opacity: 0;
}


/* Estilização do Menu de Navegação */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha à esquerda no modo aberto */
  margin-top: 40px;
  gap: 4px; /* Espaçamento entre os itens */
  padding: 0 8px; /* Respiro lateral para os itens não colarem na borda */
  flex: 1;
  transition: padding 0.3s ease;
}

/* Ajuste do menu quando a sidebar está colapsada */
.collapsed .menu {
  margin-top: 40px; 
  gap: 4px;/* Espaçamento entre os itens */
  padding: 0px;
  
}

.bottomSection {
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  padding-bottom: 42px;
  gap:4px;
}

/* A linha horizontal do menu */
.divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Linha sutil e clara */
  width: calc(100% - 16px);
  margin: 8px 8px;       /* Diminui a distância do Monitoramento (topo) */
  margin-bottom: -20px;
  transition: all 0.3s ease;
}

.collapsed .divider {
  width: 30px; /* Linha encurta quando o menu fecha */
  margin: 10px auto;
  margin-bottom: -20px;
  transition: all 0.3s ease;
}