/* Estilos gerais para o sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #789326;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease; /* Faz o efeito de "deslizar" ao fechar */
  color: #f5f3ee;
  overflow: hidden;
}

/* Estilização do logo e container do logo */
.logoContainer {
  padding-left: 13px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  position: relative;
  height: 70px; /* Altura fixa para o container do logo */
  box-sizing: border-box;
  transition: padding 0.3s ease;
}

/* Wrapper do logo e texto */
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: opacity 0.2s ease;
}

.logoText {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* botao que alterna o sidebar */
.toggleBtn {
  right: 10px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

/* ESTADO: SIDEBAR RECOLHIDA (Collapsed) */
.collapsed {
  width: 50px;
}
/* Quando o mouse passa por cima do logo, torna o botao do side visivel */
.logoContainer:hover .toggleBtn {
  opacity: 1;
  pointer-events: auto;
}

/* Ajuste para quando estiver colapsado (recolhido) */
.collapsed .logoContainer {
  padding-left: 13px !important;
  justify-content: flex-start !important;
}

/* faz o botão flutuar sobre o logo */
.collapsed .toggleBtn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 40px;
  height: 48px;
  background-color: #6b8718;
  border-radius: 8px;

  /* centralização dos ícones */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  right: 5px;
}

/* Faz o ícone do AgroHub sumir */
.collapsed .logoContainer:hover .logoWrapper {
  opacity: 0;
}

/* Estilização do Menu de Navegação */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha à esquerda no modo aberto */
  margin-top: 40px;
  gap: 4px; /* Espaçamento entre os itens */
  padding: 0; /* Respiro lateral para os itens não colarem na borda */
  flex: 1;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  padding-bottom: 42px;
  gap: 4px;
}

/* A linha horizontal do menu */
.divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 13px !important;
  margin-right: 13px !important;
  margin-top: 8px;
  margin-bottom: -20px;
  width: calc(100% - 26px);
  transition: all 0.3s ease;
}

/* Ajuste da linha horizontal quando a sidebar está colapsada */
.collapsed .divider {
  margin-left: 13px !important;
  margin-right: 13px !important;
  width: 24px !important;
  margin-top: 10px;
  margin-bottom: -20px;
}

/* todos os botões dentro do nav 'menu' */
.menu > button,
.menu > div {
  justify-content: flex-start !important;
  padding-left: 13px !important;
  width: 100% !important;
  width: 224px !important;
}

/* Ajuste do menu quando a sidebar está colapsada */
.collapsed .menu > button,
.collapsed .menu > div {
  max-width: 50px !important;
  padding-left: 13px !important;
  justify-content: flex-start !important;
  margin: 0 !important;
}
