.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border: 1px solid #d0ccbf;
  border-radius: 8px;
  display: flex; /* Para centralizar o texto verticalmente */
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  color: #111111; /* Cor do placeholder */
  font-weight: 400;
  font-style: Regular;
  transition: border-color 0.2s;
  margin-top: 8px;
}

.select:hover {
  border-color: #b1a88e; /* Cor de borda ao passar o mouse */
}

/* Quando o campo está aberto, aplica a borda verde */
.select.active {
  border-color: #789326;
  font-family: "Work Sans", sans-serif;
  color: #9a9a9a; /* Cor do placeholder */
  font-weight: 400;
  font-style: Regular;
  font-size: 16px; 
}

/* Seta Customizada */
.selectWrapper::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../../assets/select.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 16px;
  top: 28px; /* Metade dos 56px */
  transform: translateY(-50%);
  pointer-events: none;
}

/* Gira a seta */
.selectWrapper:has(.active)::after {
  transform: translateY(-50%) rotate(180deg);
  filter: invert(48%) sepia(56%) saturate(541%) hue-rotate(34deg)
    brightness(91%) contrast(88%);
}

/* Caixa customizada */
.optionsCustom {
  font-family: "Work Sans", sans-serif;
  color: #4e4e4e; /* Cor do placeholder */
  font-weight: 400;
  font-style: Regular;
  position: absolute;
  top: 60px;
  width: 100%;
  background: white;
  border: 1px solid #d0ccbf;
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
  animation: abrirLista 0.3s ease-out;
}
/* CONDIÇÃO 1: Texto "Apagado" (Placeholder) */
.vazio {
  font-family: "Work Sans", sans-serif;
  color: #9A9A9A; /* Cor do placeholder */
  font-weight: 400;
  font-style: Regular;
}

/* CONDIÇÃO 2: Texto Selecionado (Ativo) */
.preenchido {
  color: #111111; 
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
/* Animação de abertura */
@keyframes abrirLista {
  from {
    opacity: 0;
    transform: translateY(-10px); 
  }
  to {
    opacity: 1;
    transform: translateY(
      0
    ); 
  }
}

.optionItem {
  padding: 12px 16px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  color: #333;
}

.optionItem:hover {
  background-color: #f4fae2; /* Fundo leve ao passar o mouse [cite: 2025-11-19] */
}

/* Quando há erro, forçamos a cor vermelha no texto que estiver dentro da div */
.selectErro {
  border-color: #e74c3c !important;
  color: #e74c3c !important; 
}

/* Troca a imagem da seta pelo ponto de exclamação */
.wrapperErro::after {
  content: "" !important;
  background-image: url("../../assets/aviso.svg") !important; 
  width: 24px !important;
  height: 24px !important;
  background-size: 24px 24px !important; /* Garante que a imagem preencha o espaço sem sobrar */
  background-repeat: no-repeat;
  background-position: center;
  /* Trava o ícone para não girar */
  transform: translateY(-50%) rotate(0deg) !important;
  /* Remove filtros de cor esverdeados/cinzas da seta original */
  filter: none !important; 
}

/* Garante que o texto 'vazio' (placeholder) também fique vermelho se houver erro */
.selectErro.vazio {
  color: #e74c3c !important;
}