/* Estilo do botão */
.item {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;
  cursor: pointer;
  border-radius: 8px; /* Arredondamento */
  width: 100%; /* Largura  */
  height: 48px; /* Altura */
  box-sizing: border-box;
  background-color: transparent;
  color: #f5f3ee;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Feedback visual ao passar o mouse */
.item:hover {
  background-color: #6b8718;
}

/* Estado ativo do botão */
.active {
  background-color: #6b8718;
}

/* Estilo do texto do botão */
.label {
  white-space: nowrap;
}

/* Estilo do botão quando a sidebar está recolhida */
.item.collapsed:hover {
  background-color: #6b8718;
  opacity: 1;
}

/* Quanto ao estilo do texto ativo */
.active .label {
  color: #dfff7e; 
  line-height: 100%;
  letter-spacing: 0%;
}
