.app-layout {
  display: flex;
  height: 100vh; /* Mantém a altura da janela */
  width: 100vw;
  min-width: 320px;
  overflow: hidden; /* A estrutura principal não deve rolar, apenas o conteúdo */
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  /* permite rolagem vertical se necessário */
  overflow-y: auto; 
  overflow-x: hidden; /* Evita rolagem lateral indesejada */

  /* Esconde a barra no Chrome, Safari e Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Esconde a barra no Firefox */
  scrollbar-width: none;

  /* Esconde a barra no Internet Explorer e Edge antigo */
  -ms-overflow-style: none;
}

.content-area {
  flex: 1;
  background-color: #ffffff; /* Cor de fundo clar */
  padding: 40px;
  overflow: visible;
  display: flex; /* Ajuda a centralizar o que estiver dentro */
}
