.app-layout {
  display: flex; /* Alinha Sidebar e Main-container horizontalmente */
  height: 100vh; /* Ocupa a altura total da janela */
  width: 100vw;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Coloca o Header no topo e o conteúdo embaixo */
  flex: 1; /* Faz a área da direita ocupar todo o espaço restante */
}

.content-area {
  flex: 1;
  background-color: #ffffff; /* Cor de fundo clar */
  padding: 40px;
  overflow: hidden;
  display: flex; /* Ajuda a centralizar o que estiver dentro */
}
