/* Estilos para o componente CardResultado */
.containerResultado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Título do resultado */
.titulo {
  color: #111111;
  padding-bottom: 20px;
}

/* Wrapper para os cards de informação */
.cardsWrapper {
  gap: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* Estilo individual para cada card de informação */
.cardInfo {
  background-color: #f5f3ee;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 142px;
  box-sizing: border-box;
}

/* Cabeçalho do card com ícone e texto */
.headerInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111111;
}

/* Valor destacado no card */
.valor {
  color: #789326;
  padding-top: 40px;
}

/* Texto descritivo ao lado do ícone */
.texto {
  line-height: 100%;
  letter-spacing: 0.13px;
  vertical-align: middle;
}

/* Ícone dentro do card */
.icon {
  width: 24px;
  height: 24px;
  display: block;
}

/* Responsividade para telas menores */
@media (max-width: 1100px) {
  /* Ajustes para empilhar os cards */
  .cardsWrapper {
    flex-direction: row; /* Muda para horizontal */
    gap: 12px; /* Espaço menor para caber na tela */
  }

  /* Cada card ocupa 50% da largura disponível */
  .containerResultado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  /* Estilo individual para cada card de informação */
  .cardInfo {
    flex: 1; /* Faz cada card ocupar 50% da largura */
    padding: 16px; /* Reduz o respiro interno para sobrar espaço */
    min-height: 120px;
  }

  /* Valor destacado no card */
  .valor {
    padding-top: 20px;
    /* Sobrescreve o h4 global apenas para o mobile não quebrar */
    font-size: 24px !important;
  }

  /* Cabeçalho do card com ícone e texto */
  .headerInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}
