/* estilos para o componente Resultado*/
.containerResultado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  
}

.titulo {
  font-family: "Work Sans", sans-serif;
  font-style: SemiBold;
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  padding-bottom: 20px;
}

.cardsWrapper {
  gap: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.cardInfo {
  background-color: #f5f3ee;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  /* MUDANÇA: Use 100% para ele se ajustar aos 358px do pai */
  width: 100% !important;
  max-width: 100%;
  height: auto;
  min-height: 142px;
  box-sizing: border-box;
}

.headerInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111111;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
}

.valor {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #789326;
  margin: 0;
}

.texto {
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.13px;
  vertical-align: middle;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

