.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0px;
  width: 100%;

     
}

.titulo {
  font-family: "Work Sans", sans-serif;
  font-style: SemiBold;
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  margin-bottom: 40px;
}

/* titulo do formulario do CardCalculadora */
.tituloformulario {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: Body Small;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.botoesContainer {
  display: flex;
  margin-top: 10px;
}

