.containerPrincipal {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo na tela */
  align-items: flex-start;
  padding: 40px 20px;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapper {
  justify-content: center;
  display: flex;
  flex-direction: row; /* Coloca um ao lado do outro */
  gap: 40px;          /* Espaço entre a calculadora e o resultado */
  width: 100%;
  max-width: 1200px;  /* Limita a largura para não espalhar demais */
  flex-wrap: nowrap;
  align-items: flex-start;
  
}

/* Responsividade: Empilha em telas menores (celulares) */
@media (max-width: 1100px) {
  .containerPrincipal {
    padding: 0px 16px; 
  }
  .contentWrapper {
    flex-direction: column; /* Força o empilhamento vertical */
    align-items: center;
    gap: 40px;
    
  }

  .containerPrincipal {
    height: auto; /* Garante que não esteja travado em 100vh */
    overflow: visible;
  }
}


/* Responsividade para Celular*/
@media (max-width: 768px) {
  .containerPrincipal {
    padding: 0px 16px; 
  }
  .contentWrapper {
    flex-direction: column; /* Força o empilhamento vertical */
    align-items: center;
    gap: 40px;
    
  }

  .containerPrincipal {
    height: auto; /* Garante que não esteja travado em 100vh */
    overflow: visible;
  }
}