.item {
  display: flex;
  align-items: center;
  padding: 12px 8px; /* Padding que você enviou do Figma [cite: 2025-11-19] */
  gap: 8px;
  cursor: pointer;
  border-radius: 8px; /* Arredondamento conforme o Figma [cite: 2025-11-19] */
  transition: all 0.2s ease;
  width: 224px; /* Largura aberta */
  height: 48px;
  box-sizing: border-box;
  background-color: transparent;
 
}

.item:hover {
  background-color: #6B8718;
  /* Exemplo de efeito hover */
}

.active {
  background-color: rgba(255, 255, 255, 0.1); /* Exemplo de destaque */
}

.label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4; /* Equivalente a 140% */
  color: #F5F3EE;
  white-space: nowrap;
  font-size: 16px; /* Tamanho padrão para Body/Regular */
  white-space: nowrap; /* Garante que o texto não quebre linha */
}

.item.collapsed {
  width: 40px; /* Largura do quadradinho recolhido [cite: 2025-11-19] */
  justify-content: center; /* Centraliza o ícone exatamente como o toggle [cite: 2025-11-19] */
  margin: 0 auto; /* Garante que o quadrado fique no meio da sidebar [cite: 2025-11-19] */
  padding: 12px 0; /* Ajusta o padding lateral para não apertar o ícone [cite: 2025-11-19] */
}

.item.collapsed:hover {
  background-color: #6B8718; /* Mesma cor que você usou no toggleBtn [cite: 2025-11-19] */
  opacity: 1;
}

