.item {
  display: flex;
  align-items: center;
  padding: 0px 12px; 
  gap: 12px;
  cursor: pointer;
  border-radius: 8px; /* Arredondamento */
  transition: all 0.3s ease;
  width: 100%; /* Largura  */
  height: 48px; /* Altura */
  box-sizing: border-box;
  background-color: transparent;
  color: #F5F3EE;
}



.item:hover {
  background-color: #6B8718; 
}

.active {
  background-color: #6B8718 
}

.label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
  font-size: 16px;
}



.item.collapsed:hover {
  background-color: #6B8718;
  opacity: 1;
}
